body {
    background-image: url(public/fondo.jpg);
    background-size: cover;
    font-family: "Roboto";
    font-size: 30px;
}

h1{
    text-align: center;
    
    width: 1400px;
    color:deeppink;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#msg_entry{
    text-align: center;
}

#display{
    text-align: center;   
}