
html {
    background: url("fondo.jpg");
}

h1{
    margin-top: 0px;
    text-align: center;
    background: linear-gradient(to right, pink, cyan, pink);
    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 140px;
    font-family: "Walt Disney Script", arial;
    text-shadow: 4px 4px 4px #aaa;
}

#logo {
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 160px;
    width: 160px;
}

h3{
    font-family: "Walt Disney Script", arial;
    text-align: center;
    background: linear-gradient(to right, pink, cyan, pink);
    color: white;
    padding: 10px; 
}

h2{
    font-family: "Walt Disney Script", arial;
}

/*#productos{
    overflow: hidden;    
    width: 320px;
}

#productos{
    width: 330px;
    margin-top: -10px;
}
/*
#tarta_nena{
    height: 300px;
    width: 300px;
    float: left;
    margin: 10, 10, 0, 0;
}

#cesta_pluto{
    height: 300px;
    width: 300px;
    float: right;
    margin: 10, 10, 0, 0;
}

#cesta_completa{
    height: 300px;
    width: 300px;
    float: right;
    margin: 10, 10, 0, 0;
}

#cesta_oso{
    height: 300px;
    width: 300px;
    float: inline-start;
    margin: 10, 10, 0, 0;
}

#tarta_mickey{
    height: 300px;
    width: 300px;
    float: inline-end;
    margin: 10, 10, 0, 0;
}*/

.productos {
    width: 100%;
}

td{
    margin-bottom: 50px;
    margin-left: 30px;
}

img {
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
}

/*.columna {
    width: 15%;
    float:left;
    margin-left: 50px;
    margin-bottom: 50px;
    /*font-size: 15px;*/
}

a{
    font-family: "Walt Disney Script", arial;
    text-align: center;
    padding: 10px;
    font-weight: 400;
    font-size: 40px;

}